@charset "utf-8";

@import 'reset';

// 常用lib函数调用
.clearfix{
  .clearfix;
}
.fl{
  .fl;
}
.fr{
  .fr;
}
.dc{
  .dc;
}
.hidden{
  display: none;
}

// 店铺
// 店铺头部
.shop-header{
  background: #fff;
}
// 顶部导航
.topbar{
  .width-full(#f3f3f3);
  height: 34px;
  color: #555;
  font-size: 12px;
  line-height: 34px;
  border-bottom: 1px solid #e5e5e5;

  .content{
    .clearfix;
    .dc;
  }
  a{
    color: #555;
  }
  .topbar-left{
    .fl;
    a{
      &:hover{
        color: @main-red;
      };
    }
  }
  .topbar-right{
    .fr;
    .clearfix;

    >div{
      z-index: 90;
      position: relative;
      .fl;
      margin-left: 22px;
      cursor: pointer;
    }

    i{
      font-size: 15px;
    }

    .dropdown{
      &:hover{
        >ul{
          display: block;
        }
        i.fr{
          display: block;
          .rotate;
        }
      };
      >ul{
        z-index: 91;
        position: absolute;
        top: 34px;
        left: 50%;
        margin-left: -50px;
        width: 100px;
        text-align: center;
        .b(#e5e5e5);
        background: #f3f3f3;
        border-top: 1px solid #F3F3F3;
        line-height: 2.6;
        display: none;
      }

      p{
        i.fr{
          .transition;
          font-size: 12px;
        }
      }

      a{
        &:hover{
          color: @main-red;
        };
      }
    }

    mark{
      color: @main-red;
      background: none;
      font-weight: bold;
      padding: 0 3px;
    }

    .i-red{
      color: @main-red;
    }
    .i-bold{
      font-weight: bold;
      margin-right: 2px;
    }
  }
}
.topbar-support{
  >ul{
    width: 160px!important;
    margin-left: -120px!important;
    .clearfix;

    h3{
      text-align: left;
      margin-left: 20px;
      line-height: 1.6;
    }
    li{
      .fl;
      width: 50%;
    }
  }
}
.topbar-menu{
  z-index: 110;
  position: relative;
  &:hover{
    >div{
      display: block;
    }
  };
  >div{
    z-index: 112;
    position: absolute;
    top: 34px;
    right: 0;
    width: 1200px;
    padding: 10px 0;
    .b(#e5e5e5);
    border-top: 1px solid #f3f3f3;
    display: none;
    /*background: #f3f3f3;*/
    background: #fff;
    .clearfix;
  }
  dl{
    width: 25%;
    padding: 0 10px;
    margin: 0;
    .fl;
    .box-sizing;
    border-right: 1px solid #E5E5E5;
    dt{
      margin-left: 1em;
      font-size: 16px;
      font-weight: bold;
    }
    dd{
      margin-left: 2.8em;
    }
    ul{
      .clearfix;
    }
    li{
      width: 30%;
      .fl;
      .box-sizing;
      line-height: 2.0;
    }
  }
  .noborder{
    border: none;
  }
}

// 头部搜索区域start
.header-serch{
  .width-full();
  .clearfix;
  height: 95px;
  border-bottom: 1px solid #eaeaea;
  .serch-box{
    .dc;
    height: 65px;
    .clearfix;
    position: relative;
    padding-top: 20px;
    .shop-logo{
      position: relative;
      .fl;
      .logo-line{
        width: 2px;
        height: 41px;
        background-color: #e0e0e0;
        .fl;
        margin: 0 26px 0 22px;
      }
      img{
        float: left;
        margin-left: 15px;
      }
      .shop-content{
        float: left;
        h1{
          font-size: 14px;
        }
        p{
          font-size: 12px;
          color: #bcbcbc;
          padding-top: 7px;
          span{
            padding-right: 10px;
          }
        }
        em{
          font-style: normal;
          color: #d53a3f;
        }
        em.goods{
          color: #23b55a;
        }
      }
    }

    .serch-input{
      width: 448px;
      position: absolute;
      top:20px;
      .clearfix;
      right: 17px;

      .btn(@color: transparent){
        width: 72px;
        height: 30px;
        background: @color;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
      }

      &>div{
        .clearfix;
        input{
          width: 296px;
          height: 26px;
          line-height: 26px;
          color: #898989;
          border: 1px solid #cf1c22;
          text-indent: 1em;
          .fl;
        }
        .serch-market{
          .fl;
          .btn(#cf1c22);
        }
      }
      .serch-shop{
        .fl;
        margin-left: 4px;
        .btn(#313131);
      }
      &>p{
        padding-top: 4px;
        a{
          font-size: 12px;
          padding-right: 14px;
          &:hover{
            color: #cf1c22;
          }
        }
      }
    }
  }
}
//店铺动态
.shop-dynamic{
  .width-full();
  .clearfix;
  height: 120px;
  border-bottom: 1px solid #eaeaea;
  .dynamic-box{
    .dc;
    .clearfix;
    height: 100%;
    position: relative;
  }
  .shop-update{
    .fl;
    margin-left: 200px;
    padding-top: 30px;
    .shop-title{
      .fl;
      text-align: right;
      h2{
        font-size: 22px;
        line-height: 22px;
      }
      h3{
        font-size: 20px;
        font-weight: normal;
      }
    }
    .shop-line{
      .fl;
      height: 45px;
      width: 2px;
      background-color: #767676;
      margin: 0 15px 0 18px;
    }
    .dynamic{
      .fl;
      h3{
        font-size: 16px;
      }
      p{
        font-size: 12px;
        line-height: 22px;
      }
      a{
        color: #000;
      }
    }
  }
  .shop-code{
    position: absolute;
    right: 230px;
    top: 23px;
    .clearfix;
    .serch-shop{
      .fl;
      p{
        font-size: 12px;
        text-align: right;
      }
      div{
        padding-top: 4px;
        .clearfix;
        input{
          border: 1px solid #000;
          width: 70px;
          height: 14px;
          .fr;
          color: #6e6e6e;
        }
        .serch-btn{
          display: block;
          width: 18px;
          height: 18px;
          background-color: #000;
          color: #fff;
          .fr;
          text-align: center;
          line-height: 18px;
        }
      }

    }
    img{
      .fl;
      width: 72px;
      height: 72px;
      margin-left: 8px;
    }
  }
}
// 店铺导航
.shop-nav{
  .width-full();
  .clearfix;
  height: 36px;
  background-color: #131313;
  .nav-box{
    .dc;
    .clearfix;
    position: relative;
  }
  ul{
    height: 36px;
    margin-left: 166px;
    li{
      float: left;
      height: 36px;
      a{
        color: #fff;
        line-height: 36px;
        font-size: 14px;
        display: block;
        height: 100%;
        padding: 0 20px;
      }
      a.active{
        background: #323030;
      }
      a:hover{
        background: #323030;
      }
    }
  }
}

// banner 轮播图 淡入淡出
.banner{
  .width-full();
  .clearfix;
  height: 490px;
  position: relative;
  .all-width(){
    width: 100%;
    height: 100%;
  }
  ul{
    .all-width();
    li{
      .all-width();
      position: absolute;
      left:0;
      top:0;
      img{
        .all-width()
      }
    }
  }
  .banner-btn{
    width: 27px;
    height: 53px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -26px;
    background-size: 100% 100%;
  }
  .prev-btn{
    left: 15.82%;
    background: url("../img/banner-prev-btn.png") no-repeat center;
  }
  .next-btn{
    right: 15.82%;
    background: url("../img/banner-next-btn.png") no-repeat center;

  }
  .new-shop-box{
    width: 560px;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 50%;
    margin-left: -275px;
    height: 37px;
    a{
      height: 35px;
      border: 1px solid #807d78;
      float: left;
      width: 120px;
      margin-right: 16px;
      text-align: center;
      line-height: 35px;
      font-size: 14px;
      background: #ffffff;
    }
    a:hover{
      color: #8f5f34;
      border-color: #8f5f34;
    }
  }
}


